<p>
    <strong>Sources</strong></br>
    [1] <a href="https://github.com/PostgREST/postgrest">https://github.com/PostgREST/postgrest</a></br>
    [2] <a href="https://postgrest.org/en/stable/">https://postgrest.org/en/stable/</a></br>
    [3] <a href="http://spec.openapis.org/oas/v3.0.3http://spec.openapis.org/oas/v3.0.3">http://spec.openapis.org/oas/v3.0.3</a></br>
    [4] <a href="https://aws.amazon.com/rds/">https://aws.amazon.com/rds/</a></br>
    [5] <a href="https://www.heroku.com">https://www.heroku.com</a>
</p>